# === Python ===
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
env/
venv/
ENV/
.venv/

# pytest
.cache/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
htmlcov/

# Logs and local files
*.log
*.tmp
*.bak

# === OS / Editor ===
# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code
.vscode/

# JetBrains (PyCharm, etc.)
.idea/

# === Custom Data Directories ===
# Ignore contents of these folders, but keep the folders themselves
data/dns/*
!data/dns/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/openfoam/*
!data/openfoam/.gitkeep
notebooks/train_model.ipynb
